.page-4 {
    position: relative;
    height: 2123px;
}

.header-count-inner {
    background: linear-gradient(180deg, #00C136 0%, #6DFFCB 48.44%, #FFFFFF 100%), url('../../assets/mountain.png');
    background-size: cover, cover;
    background-blend-mode: overlay;
    background-position: center, center;
    background-repeat: no-repeat no-repeat;
    padding-left: 100px !important;
    height: 350px;
}

.logo-title-count {
    width: 100%;
    height: 100%;
}

.logo-title-count h3 {
    color: #152731;
    font-size: 100px;
    line-height: 110px;
    font-weight: 700;
}

.logo-title-count h4 {
    color: #152731;
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
}

.logo-title-count h3 > span {
    color: #20D3CB;
}

.count-labels {
    display: flex;
    justify-content: flex-end;
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.color-finished {
    background: #00C136;
}

.color-progress {
    background: #9A9B9C;;
}

.count-label--item {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.count-label--item span {
    color: #152731;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin-left: 10px;
}

.canvas-div {
    display: flex;
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 400px;

}

.pieNums {
    position: absolute;
    margin-left: 100px;
    text-align: center;
    margin-top: 50px;
}

.pieNum {
    margin: 0 0 5px;
}

.pieNum p:nth-child(1) {
    font-size: 25px;
    color: #9A9B9C;
    margin: 0px 0;
    font-weight: 200;
}

.pieNum p:nth-child(2) {
    font-size: 28px;
    color: #000;
    font-weight: 600;
    margin-bottom: 0;
}

.two p:nth-child(2) {
    color: #00C136;
}

.three p:nth-child(2) {
    color: #9A9B9C;
}

.bar-chart-canvas {
    width: 95%;
    height: 400px;
}

#myChart {
    position: absolute;
    left: -38%;
}

#bar-chart {
    position: absolute;
    left: 35%;
}

.chart-numbers {
    display: flex;
    justify-content: center;
}

.bar-img {
    width: 20%;
    height: 10px;
    margin: 28px 40px;
}

.bar-img img {
    width: 100%;
    height: 100%;
}

.chart-number p {
    font-size: 60px;
    line-height: 74px;
    font-weight: 700;
}

.chart-number span {
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
}

.objects-block {
    width: 100%;
    padding: 100px 0 0;
}

.count-title {
    width: 80% !important;
}

.progress-block {
    box-sizing: border-box;

}

.pr-title {
    display: flex;
    width: 44%;
    padding: 10px 0;
    border-bottom: 2px solid #eaeef1;
    margin-bottom: 40px;
}

.progress-title {
    display: flex;

}

.pr-title:nth-child(2) {
    margin-left: 6%;
}

.pr-title p {
    font-size: 20px;
    font-weight: 400;
    color: #9A9B9C;
}

.pr-title p:nth-child(1) {
    width: 31%;
}

.pr-title p:nth-child(2) {
    width: 27%;
}

.pr-title p:nth-child(3) {
    width: 31%;
}

.pr-title p:nth-child(4) {
    width: 11%;
}

.progress-table1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.progress-line {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: flex-end;
}

.progress-line p {
    margin: 0;
    line-height: 24px;
    width: 100%;
    font-size: 24px;
}


.progress-wrap1 {
    width: 100%;
    margin: 0 10px 0 40px;
    color: #636363;
}

.progress-wrap2 {
    width: 100%;
    margin: 0 40px 0 10px;
    color: #00C136;
}

.progress-wrap1 .progress-bar {
    background-color: #636363;
}

.progress-wrap2 .progress-bar {
    background-color: #00C136;
}

.progress-wrap1 p {
    margin-bottom: 10px;
    font-size: 16px;
}

.progress-wrap2 p {
    margin-bottom: 10px;
    font-size: 16px;
}

.progress-sum {
    font-size: 32px !important;
}

.footer-count {
    padding: 50px 0 0 0;
}
