<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StoryMart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/tem/style/all.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
<section class="title-page">
    <div class="container-title">
        <div class="header-title">
            <p class="header-title-text">Разработано на основании автоматического анализа KENML смет системой GENRO
                (АО Институт цифровой техники и технологий)</p>
            <div class="header-title-date">
                <p>Декабрь</p>
                <p>Издание №1</p>
            </div>
        </div>
        <div class="title-vector">
            <h1 class="h1-title">
                Потребность
                строительного
                рынка на 2020г.
            </h1>
            <p class="header-years">2020- 2022 год.</p>
        </div>
    </div>
    <div class="vector">
        <div class="vector-img">
            <img alt="vector" th:src="@{/tem/assets/page-1-vector.png}">
        </div>
        <div class="vector-text">
            <p>StroyMart.<span class="text-white">kz</span></p>
            <img th:src="@{/tem/assets/dots.png}">
            <p>Подробнее на </p>
        </div>
    </div>
</section>
<div class="page-2">
    <section class="content">
        <div class="width-90">
            <div class="header-content">
                <div class="header-content--left">
                    <h6>Потребность <br>
                        строительного рынка</h6>
                    <p>
                        2020 - 2022 год
                    </p>
                </div>
                <div class="header-content--right">
                    <p style="margin-bottom: 0">Декабрь </p>
                    <p>Издание 1</p>
                </div>

            </div>
            <h1>Оглавление</h1>
            <div class="content-items">
                <div class="content-item">
                    <h4>6</h4>
                    <div class="dots">
                        <div class="dot dot-1"></div>
                        <div class="dot dot-2"></div>
                        <div class="dot dot-3"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                    </div>
                    <span>Топ 10 стройматериалов</span>
                </div>
                <div class="content-item">
                    <h4>6</h4>
                    <div class="dots">
                        <div class="dot dot-1"></div>
                        <div class="dot dot-2"></div>
                        <div class="dot dot-3"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                    </div>
                    <span>Топ 10 стройматериалов</span>
                </div>
                <div class="content-item">
                    <h4>6</h4>
                    <div class="dots">
                        <div class="dot dot-1"></div>
                        <div class="dot dot-2"></div>
                        <div class="dot dot-3"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-4"></div>
                    </div>
                    <span>Топ 10 стройматериалов</span>
                </div>
            </div>
            <div class="more-content" style="position: absolute; bottom: 0;">
                <p>Подробнее на </p>
                <div class="dots">
                    <div class="dot dot-4"></div>
                    <div class="dot dot-4"></div>
                    <div class="dot dot-4"></div>
                    <div class="dot dot-4"></div>
                    <div class="dot dot-4"></div>
                    <div class="dot dot-4"></div>
                    <div class="dot dot-4"></div>
                    <div class="dot dot-3"></div>
                    <div class="dot dot-2"></div>
                    <div class="dot dot-1"></div>
                </div>
                <a target="_blank" href="http://www.storymart.kz">StroyMart.<span>kz</span></a>
            </div>

            <footer class="footer" style="position: absolute; bottom: 0;">
                <p>Потребность строительного рынка на 2020-2021гг.</p>
                <div class="line"></div>
                <p>Разработано на основании автоматического анализа KENML смет системой GENRO (АО Институт цифровой
                    техники
                    и технологий)</p>
            </footer>
        </div>
    </section>
</div>
<section class="top" style="padding: 0">
    <div class="header-inner">
        <header class="header">
            <p>StroyMart.<span>kz</span></p>
        </header>
        <div class="header-block">
            <div class="logo-title">
                <div>
                    <img th:src="@{/tem/assets/logo.png}">
                </div>
                <h2>Топ <span>10</span></h2>
                <div class="logo-text">
                    <h4>стройматериалов </h4>
                    <p>Доля на рынке стройматериалов в %</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bar-container">
        <div class="bar-items">
            <div class="bar-item">
                <div class="bar-item--text">
                    <div>
                        <p class="bar-item-top"></p>
                    </div>
                </div>
                <div class="bar-line bar-0"></div>
            </div>
            <div id="bar-items" class="bar-rest">
            </div>
        </div>
    </div>
</section>
<section class="page-4">
    <section class="count">
        <div class="header-count-inner">
            <header class="header">
                <p>StroyMart.<span>kz</span></p>
            </header>
            <div class="header-block">
                <div class="logo-title">
                    <div class="logo-title-count">
                        <h3>Количество</h3>
                        <h4>строящихся
                            <br>
                            объектов </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="count-labels" style="margin-right: 5%">
            <div class="count-label--item">
                <div class="color color-finished">
                </div>
                <span>- Завершенные</span>
            </div>
            <div class="count-label--item">
                <div class="color color-progress">
                </div>
                <span>- Строящиеся </span>
            </div>
        </div>

    </section>
    <div class="container" style="max-width: 90%">
        <div class="pieNums">
            <div class="pieNum one">
                <p>Всего</p>
                <p id="pieNumOverall"></p>
            </div>
            <div class="pieNum two">
                <p>Завершенные</p>
                <p id="pieCompleted"></p>
            </div>
            <div class="pieNum three">
                <p>Строящиеся</p>
                <p id="pieNumeUnderConstruction"></p>
            </div>
        </div>
        <div class="canvas-div">
            <canvas id="myChart" style="margin-left: 19%" width="1000" height="340">
            </canvas>

            <div class="bar-chart-canvas">
                <canvas id="bar-chart" width="1000" height="420"></canvas>
            </div>
        </div>
        <div class="chart-numbers">
            <div class="chart-number">
                <p>2020</p>
                <span>год</span>
            </div>
            <div class="bar-img">
                <img th:src="@{/tem/assets/lines.svg}">
            </div>
            <div class="chart-number">
                <p>2020</p>
                <span>год</span>
            </div>
            <div class="bar-img">
                <img th:src="@{/tem/assets/lines.svg}">
            </div>
            <div class="chart-number">
                <p>2020</p>
                <span>год</span>
            </div>
        </div>
        <div class="objects-block">
            <h1 class="h1-title count-title" style="color: #000; font-size: 60px; line-height: 60px">Строящиеся объекты
                в разрезе регионов на 2020 год</h1>
        </div>
        <div class="progress-block">
            <div class="progress-title">
                <div class="pr-title">
                    <p>Регион</p>
                    <p>Строящиеся </p>
                    <p>Завершенные</p>
                    <p>Всего</p>
                </div>
                <div class="pr-title">
                    <p>Регион</p>
                    <p>Строящиеся </p>
                    <p>Завершенные</p>
                    <p>Всего</p>
                </div>
            </div>
            <div class="progress-table1" id="pt1">
            </div>
        </div>
    </div>
    <div class="container" style="max-width: 90%; position: absolute; bottom: 0; margin-left: 5%">
        <footer class="footer footer-count" style="padding: 0">
            <p>Потребность строительного рынка на 2020-2021гг.</p>
            <div class="line"></div>
            <p>Разработано на основании автоматического анализа KENML смет системой GENRO (АО Институт цифровой техники
                и
                технологий)</p>
        </footer>
    </div>
</section>
<div class="page-4">
    <section class="count">
        <div class="header-count-inner">
            <header class="header">
                <p>StroyMart.<span>kz</span></p>
            </header>
            <div class="header-block">
                <div class="logo-title-count">
                    <h4>Строящиеся объекты<br>
                        в разрезе регионов на 2021 год</h4>
                </div>
            </div>
        </div>
        <div class="width-90">
            <div class="progress-block pr-bl2">
                <div class="progress-title">
                    <div class="pr-title2">
                        <p>Регион</p>
                        <p>Строящиеся </p>
                        <p>Всего</p>
                    </div>
                    <div class="pr-title2">
                        <p>Регион</p>
                        <p>Строящиеся </p>
                        <p>Всего</p>
                    </div>
                </div>
            </div>
            <div class="progress-table1" id="pt2">
            </div>

            <div class="header-count-inner1">
                <div class="header-block">
                    <div class="logo-title-count">
                        <h4>Строящиеся объекты
                            <br>
                            в разрезе регионов на 2022 год</h4>
                    </div>
                </div>
            </div>
            <div class="progress-block pr-bl3">
                <div class="progress-title">
                    <div class="pr-title2">
                        <p>Регион</p>
                        <p>Строящиеся </p>
                        <p>Всего</p>
                    </div>
                    <div class="pr-title2">
                        <p>Регион</p>
                        <p>Строящиеся </p>
                        <p>Всего</p>
                    </div>
                </div>
            </div>
            <div class="progress-table1" id="pt3">
            </div>
            <footer class="footer footer-count" style="position: absolute; bottom: 0">
                <p>Потребность строительного рынка на 2020-2021гг.</p>
                <div class="line"></div>
                <p>Разработано на основании автоматического анализа KENML смет системой GENRO (АО Институт цифровой
                    техники
                    и технологий)</p>
            </footer>
        </div>

    </section>
</div>
<div class="page-4">
    <section class="count">
        <div class="header-chart-inner">
            <header class="header">
                <p>StroyMart.<span>kz</span></p>
            </header>
            <div class="header-block">
                <div class="logo-title-chart">
                    <h3>Потребность</h3>
                    <h4>в стройметериалах
                        в разрезе регионов </h4>
                </div>
            </div>
        </div>

        <div class="chart-page-title">
            <div class="chart-round">
                <h3>1</h3>
                <p>Трубы, рукава и шланги и их фитинги из пластмасс</p>
            </div>
            <div class="chart-img">
                <img th:src="@{/tem/assets/lines.svg}">
            </div>
        </div>

        <div class="width-90">
            <div class="chart-city-num">
                <h1>Алматы</h1>
                <div class="chart-vol-price">
                    <div class="chart-vol">
                        <span>Общий объем</span>
                        <p>944 354 м3</p>
                    </div>
                    <div class="chart-price ">
                        <span>Общая стоимость</span>
                        <p>944 354 000 тг</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-grey-bg">
            <div class="width-90">
                <div class="chart-city-num" style="border-bottom: 1px solid white">
                    <div class="chart-str">
                        <span>Застройщик</span>
                        <p>BI Group</p>
                    </div>
                    <div class="chart-vol-price">
                        <div class="chart-vol">
                            <span>Общий объем</span>
                            <p>944 354 м3</p>
                        </div>
                        <div class="chart-price ">
                            <span>Общая стоимость</span>
                            <p>944 354 000 тг</p>
                        </div>
                    </div>
                </div>
                <div class="chart-city-num2">
                    <div class="chart-str2 str1">
                        <span>Телефон</span>
                        <p>8 777 170 70 70</p>
                    </div>
                    <div class="chart-str2 str2">
                        <span>E-mail</span>
                        <p>Contact@Bi.group</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="width-90">
            <div class="chart-wrap">
                <div class="chart-obj">
                    <p>Объект <span>1</span></p>
                    <p>ID 9128389</p>
                </div>
                <div class="chart-p">
                    <p>Строительство многоквартирных жилых домов в микрорайоне "Мадениет" в Алатауском районе города
                        Алматы, участок №834/2 (без благоустройства и внутриплощадочных инженерных сетей)</p>
                </div>
            </div>

            <div class="chart-bars-block">
                <div class="chart-bar-title">
                    <h1>2020</h1>
                    <div class="chart-vol-price">
                        <div class="chart-vol">
                            <p>944 354 м3</p>
                        </div>
                        <div class="chart-price ">
                            <p>944 354 000 тг</p>
                        </div>
                    </div>
                </div>
                <div class="chart-bar">
                    <canvas id="chart-bar" width="1300" height="215"></canvas>
                    <div class="chart-values" id="chart-values">
                        <!-- <div class="chart-val">
                            <p>3500 m3</p>
                            <p>3 500 000 тг</p>
                        </div> -->
                    </div>
                </div>

            </div>

            <div class="chart-bars-block">
                <div class="chart-bar-title">
                    <h1>2021</h1>
                    <div class="chart-vol-price">
                        <div class="chart-vol">
                            <p>944 354 м3</p>
                        </div>
                        <div class="chart-price ">
                            <p>944 354 000 тг</p>
                        </div>
                    </div>
                </div>
                <div class="chart-bar">
                    <canvas id="chart-bar2" width="1300" height="215"></canvas>
                    <div class="chart-values" id="chart-values2">
                        <!-- <div class="chart-val">
                            <p>3500 m3</p>
                            <p>3 500 000 тг</p>
                        </div> -->
                    </div>
                </div>

            </div>

            <footer class="footer footer-count" style="position: absolute; bottom: 0">
                <p>Потребность строительного рынка на 2020-2021гг.</p>
                <div class="line"></div>
                <p>Разработано на основании автоматического анализа KENML смет системой GENRO (АО Институт цифровой
                    техники и технологий)</p>
            </footer>
        </div>
    </section>
</div>
<div class="page-4">
    <section class="count">

        <div class="header-chart-inner" style="margin-bottom: 100px">
            <header class="header">
                <p>StroyMart.<span>kz</span></p>
            </header>
            <div class="header-block">
                <div class="logo-title-chart">
                    <div class="chart-page-title2">
                        <div class="chart-round2">
                            <h3>1</h3>
                            <p>Трубы, рукава и шланги и их фитинги из пластмасс</p>
                        </div>
                        <div class="chart-img2">
                            <img th:src="@{/tem/assets/chart-l-w.svg}">
                        </div>
                    </div>
                </div>
                <div class="chart-city-num3" style="margin: 130px 0 50px 0; padding-right: 5%">
                    <h1>Алматы</h1>
                    <div class="chart-vol-price">
                        <div class="chart-vol">
                            <span>Общий объем</span>
                            <p>944 354 м3</p>
                        </div>
                        <div class="chart-price ">
                            <span>Общая стоимость</span>
                            <p>944 354 000 тг</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="chart-grey-bg">
            <div class="width-90">
                <div class="chart-city-num">
                    <div class="chart-str">
                        <span>Застройщик</span>
                        <p>BI Group</p>
                    </div>
                    <div class="chart-vol-price">
                        <div class="chart-vol">
                            <span>Общий объем</span>
                            <p>944 354 м3</p>
                        </div>
                        <div class="chart-price ">
                            <span>Общая стоимость</span>
                            <p>944 354 000 тг</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="width-90">
            <div class="chart-wrap">
                <div class="chart-obj">
                    <p>Объект <span>1</span></p>
                    <p>ID 9128389</p>
                </div>
                <div class="chart-p">
                    <p>Строительство многоквартирных жилых домов в микрорайоне "Мадениет" в Алатауском районе города
                        Алматы, участок №834/2 (без благоустройства и внутриплощадочных инженерных сетей)</p>
                </div>
            </div>

            <div class="chart-bars-block">
                <div class="chart-bar-title">
                    <h1>2020</h1>
                    <div class="chart-vol-price">
                        <div class="chart-vol">
                            <p>944 354 м3</p>
                        </div>
                        <div class="chart-price ">
                            <p>944 354 000 тг</p>
                        </div>
                    </div>
                </div>
                <div class="chart-bar">
                    <canvas id="chart-bar3" width="1300" height="215"></canvas>
                    <div class="chart-values" id="chart-values3">
                        <!-- <div class="chart-val">
                            <p>3500 m3</p>
                            <p>3 500 000 тг</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="chart-grey-bg">
            <div class="width-90">
                <div class="chart-city-num" style="border-bottom: 1px solid white">
                    <div class="chart-str">
                        <span>Застройщик</span>
                        <p>BI Group</p>
                    </div>
                    <div class="chart-vol-price">
                        <div class="chart-vol">
                            <span>Общий объем</span>
                            <p>944 354 м3</p>
                        </div>
                        <div class="chart-price ">
                            <span>Общая стоимость</span>
                            <p>944 354 000 тг</p>
                        </div>
                    </div>
                </div>
                <div class="chart-city-num2">
                    <div class="chart-str2 str1">
                        <span>Телефон</span>
                        <p>8 777 170 70 70</p>
                    </div>
                    <div class="chart-str2 str2">
                        <span>E-mail</span>
                        <p>Contact@Bi.group</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="width-90">

            <div class="chart-bars-block">
                <div class="chart-bar-title">
                    <h1>2021</h1>
                    <div class="chart-vol-price">
                        <div class="chart-vol">
                            <p>944 354 м3</p>
                        </div>
                        <div class="chart-price ">
                            <p>944 354 000 тг</p>
                        </div>
                    </div>
                </div>
                <div class="chart-bar">
                    <canvas id="chart-bar4" width="1300" height="215"></canvas>
                    <div class="chart-values" id="chart-values4">
                        <!-- <div class="chart-val">
                            <p>3500 m3</p>
                            <p>3 500 000 тг</p>
                        </div> -->
                    </div>
                </div>

            </div>

            <footer class="footer footer-count" style="position: absolute; bottom: 0">
                <p>Потребность строительного рынка на 2020-2021гг.</p>
                <div class="line"></div>
                <p>Разработано на основании автоматического анализа KENML смет системой GENRO (АО Институт цифровой
                    техники и технологий)</p>
            </footer>
        </div>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script th:inline="javascript">

    var topTenList = /*[[${topTenList}]]*/ [];
    var potrebnostis = /*[[${potrebnostis}]]*/ [];
    var overallForYears = /*[[${overallForYears}]]*/ [];
    var overallForYearByRegions = /*[[${overallForYearByRegions}]]*/ [];

</script>

<script th:src="@{/tem/js/doughnut-chart.js}"></script>
<script th:src="@{/tem/js/bar.js}"></script>
<script th:src="@{/tem/js/progress.js}"></script>
<script th:src="@{/tem/js/bar-chart.js}"></script>
<script th:src="@{/tem/js/top.js}"></script>
</body>
</html>
